<h1>Pages#process-card</h1>
<p>Find me in app/views/pages/process-card.html.erb</p>

$buyerInfo = array();
$buyerInfo['buyer_email_address'] = "thebuyer@example.com";
$buyerInfo['shipping_address'] = array(
  'address_line_1' => "123 Main St",
  'locality' => "San Francisco",
  'administrative_district_level_1' => "CA",
  'postal_code' => "94114",
  'country' => "US"
);
$buyerInfo['billing_address'] = array(
  'address_line_1' => "500 Electric Ave",
  'address_line_2' => "Suite 600",
  'administrative_district_level_1' => "NY",
  'locality' => "New York",
  'postal_code' => "20003",
  'country' => "US"
);
